/****** Object:  ForeignKey [complaint$complaint_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint] DROP CONSTRAINT [complaint$complaint_ibfk_1]
GO
/****** Object:  ForeignKey [complaint$complaint_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint] DROP CONSTRAINT [complaint$complaint_ibfk_2]
GO
/****** Object:  ForeignKey [order$order_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] DROP CONSTRAINT [order$order_ibfk_1]
GO
/****** Object:  ForeignKey [order$order_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] DROP CONSTRAINT [order$order_ibfk_2]
GO
/****** Object:  ForeignKey [order$order_ibfk_3]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_3]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] DROP CONSTRAINT [order$order_ibfk_3]
GO
/****** Object:  ForeignKey [order_product$order_product_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product] DROP CONSTRAINT [order_product$order_product_ibfk_1]
GO
/****** Object:  ForeignKey [order_product$order_product_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product] DROP CONSTRAINT [order_product$order_product_ibfk_2]
GO
/****** Object:  ForeignKey [user$user_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user$user_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
ALTER TABLE [dbo].[user] DROP CONSTRAINT [user$user_ibfk_1]
GO
/****** Object:  Table [dbo].[complaint]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[complaint]') AND type in (N'U'))
DROP TABLE [dbo].[complaint]
GO
/****** Object:  Table [dbo].[order_product]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_product]') AND type in (N'U'))
DROP TABLE [dbo].[order_product]
GO
/****** Object:  Table [dbo].[order]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order]') AND type in (N'U'))
DROP TABLE [dbo].[order]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
DROP TABLE [dbo].[user]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment]') AND type in (N'U'))
DROP TABLE [dbo].[payment]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
DROP TABLE [dbo].[product]
GO
/****** Object:  Table [dbo].[project]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[project]') AND type in (N'U'))
DROP TABLE [dbo].[project]
GO
/****** Object:  Table [dbo].[country]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[country]') AND type in (N'U'))
DROP TABLE [dbo].[country]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[feedback]') AND type in (N'U'))
DROP TABLE [dbo].[feedback]
GO
/****** Object:  Default [DF__complaint__creat__7E6CC920]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__complaint__creat__7E6CC920]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__complaint__creat__7E6CC920]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[complaint] DROP CONSTRAINT [DF__complaint__creat__7E6CC920]
END


End
GO
/****** Object:  Default [DF__country__iso2__00551192]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__country__iso2__00551192]') AND parent_object_id = OBJECT_ID(N'[dbo].[country]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__country__iso2__00551192]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[country] DROP CONSTRAINT [DF__country__iso2__00551192]
END


End
GO
/****** Object:  Default [DF__country__iso3__014935CB]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__country__iso3__014935CB]') AND parent_object_id = OBJECT_ID(N'[dbo].[country]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__country__iso3__014935CB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[country] DROP CONSTRAINT [DF__country__iso3__014935CB]
END


End
GO
/****** Object:  Default [DF__feedback__rating__03317E3D]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__feedback__rating__03317E3D]') AND parent_object_id = OBJECT_ID(N'[dbo].[feedback]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__feedback__rating__03317E3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[feedback] DROP CONSTRAINT [DF__feedback__rating__03317E3D]
END


End
GO
/****** Object:  Default [DF__feedback__create__0425A276]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__feedback__create__0425A276]') AND parent_object_id = OBJECT_ID(N'[dbo].[feedback]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__feedback__create__0425A276]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[feedback] DROP CONSTRAINT [DF__feedback__create__0425A276]
END


End
GO
/****** Object:  Default [DF__order__name__060DEAE8]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__name__060DEAE8]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__name__060DEAE8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__name__060DEAE8]
END


End
GO
/****** Object:  Default [DF__order__address__07020F21]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__address__07020F21]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__address__07020F21]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__address__07020F21]
END


End
GO
/****** Object:  Default [DF__order__city__07F6335A]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__city__07F6335A]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__city__07F6335A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__city__07F6335A]
END


End
GO
/****** Object:  Default [DF__order__country_i__08EA5793]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__country_i__08EA5793]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__country_i__08EA5793]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__country_i__08EA5793]
END


End
GO
/****** Object:  Default [DF__order__phone__09DE7BCC]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__phone__09DE7BCC]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__phone__09DE7BCC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__phone__09DE7BCC]
END


End
GO
/****** Object:  Default [DF__order__status__0AD2A005]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__status__0AD2A005]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__status__0AD2A005]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__status__0AD2A005]
END


End
GO
/****** Object:  Default [DF__order__created__0BC6C43E]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__created__0BC6C43E]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__created__0BC6C43E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] DROP CONSTRAINT [DF__order__created__0BC6C43E]
END


End
GO
/****** Object:  Default [DF__payment__status__0EA330E9]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__payment__status__0EA330E9]') AND parent_object_id = OBJECT_ID(N'[dbo].[payment]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__payment__status__0EA330E9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [DF__payment__status__0EA330E9]
END


End
GO
/****** Object:  Default [DF__product__price__108B795B]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__price__108B795B]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__price__108B795B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__price__108B795B]
END


End
GO
/****** Object:  Default [DF__product__status__117F9D94]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__status__117F9D94]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__status__117F9D94]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__status__117F9D94]
END


End
GO
/****** Object:  Default [DF__product__created__1273C1CD]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__created__1273C1CD]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__created__1273C1CD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__created__1273C1CD]
END


End
GO
/****** Object:  Default [DF__project__status__145C0A3F]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__project__status__145C0A3F]') AND parent_object_id = OBJECT_ID(N'[dbo].[project]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__project__status__145C0A3F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[project] DROP CONSTRAINT [DF__project__status__145C0A3F]
END


End
GO
/****** Object:  Default [DF__project__created__15502E78]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__project__created__15502E78]') AND parent_object_id = OBJECT_ID(N'[dbo].[project]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__project__created__15502E78]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[project] DROP CONSTRAINT [DF__project__created__15502E78]
END


End
GO
/****** Object:  Default [DF__user__address__173876EA]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__address__173876EA]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__address__173876EA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__address__173876EA]
END


End
GO
/****** Object:  Default [DF__user__city__182C9B23]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__city__182C9B23]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__city__182C9B23]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__city__182C9B23]
END


End
GO
/****** Object:  Default [DF__user__country_id__1920BF5C]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__country_id__1920BF5C]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__country_id__1920BF5C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__country_id__1920BF5C]
END


End
GO
/****** Object:  Default [DF__user__phone__1A14E395]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__phone__1A14E395]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__phone__1A14E395]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__phone__1A14E395]
END


End
GO
/****** Object:  Default [DF__user__company__1B0907CE]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__company__1B0907CE]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__company__1B0907CE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__company__1B0907CE]
END


End
GO
/****** Object:  Default [DF__user__type__1BFD2C07]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__type__1BFD2C07]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__type__1BFD2C07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__type__1BFD2C07]
END


End
GO
/****** Object:  Default [DF__user__status__1CF15040]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__status__1CF15040]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__status__1CF15040]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__status__1CF15040]
END


End
GO
/****** Object:  Default [DF__user__created__1DE57479]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__created__1DE57479]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__created__1DE57479]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__created__1DE57479]
END


End
GO
/****** Object:  Schema [m2ss]    Script Date: 11/26/2012 18:08:55 ******/
IF  EXISTS (SELECT * FROM sys.schemas WHERE name = N'm2ss')
DROP SCHEMA [m2ss]
GO
/****** Object:  Schema [m2ss]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'm2ss')
EXEC sys.sp_executesql N'CREATE SCHEMA [m2ss] AUTHORIZATION [dbo]'
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[feedback]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(9,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[rating] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_feedback_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'feedback', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.feedback' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'feedback'
GO
SET IDENTITY_INSERT [dbo].[feedback] ON
INSERT [dbo].[feedback] ([id], [name], [email], [description], [rating], [created]) VALUES (2, N'test', N'a@b.com', N'this is a  test', 1, CAST(0x0000A10E00CEFF04 AS DateTime))
INSERT [dbo].[feedback] ([id], [name], [email], [description], [rating], [created]) VALUES (3, N'asd gsg', N'a@bfd.com', N'asd  fd hdfhngn fn34 y4ehrjtr', 10, CAST(0x0000A10E00CEFF04 AS DateTime))
INSERT [dbo].[feedback] ([id], [name], [email], [description], [rating], [created]) VALUES (4, N'123asd gsg', N'5435a@bfd.com', N' 64564asd  fd hdfhngn fn34 y4ehrjtr', 7, CAST(0x0000A10E00CF3D20 AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
/****** Object:  Table [dbo].[country]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[country]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(249,1) NOT NULL,
	[name] [nvarchar](63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[iso2] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iso3] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_country_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'country', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.country' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'country'
GO
SET IDENTITY_INSERT [dbo].[country] ON
INSERT [dbo].[country] ([id], [name], [iso2], [iso3]) VALUES (1, N'VIET NAM', N'VN', N'VNM')
INSERT [dbo].[country] ([id], [name], [iso2], [iso3]) VALUES (2, N'AFGHANISTAN', N'AF', N'AFG')
INSERT [dbo].[country] ([id], [name], [iso2], [iso3]) VALUES (3, N'ALAND ISLANDS', N'AX', N'ALA')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[country] OFF
/****** Object:  Table [dbo].[project]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[project]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_project_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'project', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.project' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'project'
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [real] NULL,
	[status] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_product_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'product', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'product'
GO
SET IDENTITY_INSERT [dbo].[product] ON
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (1, N'Sightseeing Elevator', N'Vivamus tincidunt velit varius ante aliquam rhoncus. Mauris non cursus arcu. Duis vel aliquet mauris. Duis gravida, urna at ullamcorper lobortis, dui diam hendrerit ante, eget varius augue quam quis mauris. Sed quis ligula hendrerit libero viverra venenatis. Maecenas ut dictum massa. Nam venenatis, orci quis rhoncus rhoncus, leo ipsum suscipit massa, quis faucibus nunc libero eget risus. Mauris posuere mi at mauris gravida scelerisque. Vivamus pharetra dapibus nulla. Sed odio justo, consequat et pulvinar eu, vestibulum sed metus. Proin aliquam erat et quam sollicitudin pharetra. Cras augue nibh, sagittis ac ullamcorper vel, varius vel arcu. Praesent nec justo sed sapien luctus lacinia. Etiam dictum lobortis leo eget ullamcorper. Etiam vel rutrum felis. Donec mattis molestie quam, vitae tincidunt dui vulputate sit amet.
<br><br>
Nulla eu justo ac leo facilisis tincidunt. Nullam vel felis ipsum, sit amet semper leo. Morbi vel arcu suscipit tortor hendrerit tristique id quis odio. Nullam eget sapien ut diam pretium congue at at est. Morbi facilisis arcu eget erat dignissim sed adipiscing dui tristique. Vestibulum vehicula nisi turpis, ac ultrices lacus. Curabitur viverra varius lorem sed egestas.
<br><br>
Ut venenatis sollicitudin tempus. Aliquam venenatis odio nisl. Pellentesque id risus quis velit tincidunt condimentum id ac velit. Proin libero mauris, rhoncus nec vehicula nec, pharetra in urna. Proin ut dolor at nisi suscipit sagittis. Quisque ullamcorper, dolor sed luctus rutrum, enim eros blandit risus, vitae eleifend risus nisl sed elit. Morbi cursus aliquam tempus. In quis mi tortor. Donec pellentesque viverra mi nec cursus. Nullam aliquam condimentum dolor, ac ullamcorper libero dictum quis. Aliquam erat volutpat. Aenean sit amet cursus justo. Nulla placerat purus nec magna fringilla aliquam.', 1500, 1, CAST(0x0000A115002C93B8 AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (2, N'Electric Elevator For High Rise Buildings ', N'Aliquam erat volutpat. Nullam dictum mi sed lacus sagittis pulvinar. Ut odio ante, sodales sit amet aliquet vel, placerat non nisi. Pellentesque viverra turpis nec lorem ultrices ac fringilla lacus consectetur. Integer adipiscing porttitor enim in accumsan. Etiam ut felis enim. Praesent dictum nulla id sapien tincidunt id sagittis neque volutpat. Phasellus vestibulum tellus non mauris placerat egestas a quis elit. Curabitur ultricies egestas ornare. Phasellus euismod rhoncus diam vel lobortis. Nulla placerat nulla sed ligula congue tristique. Cras tempus sagittis ligula non mollis. Integer massa nulla, accumsan sed imperdiet vel, bibendum nec nulla. In tincidunt consequat sodales.
<br><br>
Vivamus non tristique ipsum. Pellentesque lacus mi, imperdiet nec sollicitudin vitae, pellentesque non leo. Fusce nisl lectus, faucibus ac vulputate sit amet, commodo non libero. In feugiat dictum nisi eu placerat. Aliquam vel odio sapien, nec varius magna. Maecenas quis risus tortor, in semper elit. Phasellus sit amet quam arcu, non ornare diam. Vivamus non neque ut nibh rhoncus accumsan. Morbi eros dui, venenatis non tristique sed, porta non sem. Nunc ut ipsum id augue lobortis faucibus.
<br><br>
Pellentesque gravida velit vitae arcu ornare iaculis. Quisque mattis nisl vel libero hendrerit tincidunt. Nulla cursus interdum interdum. Praesent augue purus, molestie a lacinia tristique, hendrerit nec velit. Sed nec sodales libero. Donec sed eros tortor, sed tempor mi. Morbi malesuada dolor massa, vel egestas nunc. Fusce vulputate leo sed felis cursus consequat. Phasellus sagittis nisl id arcu cursus sed placerat lacus hendrerit. Praesent feugiat mattis est ac dapibus.', 1000, 1, CAST(0x0000A11500336BAC AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (3, N'Observation Elevator BEX01', N'Sed ut massa in risus lacinia tempor at sit amet quam. Donec vehicula viverra elit, id volutpat leo vulputate fringilla. Vivamus nec tellus lorem, vitae faucibus orci. Proin ultricies, mi sed iaculis ultricies, urna massa blandit erat, quis euismod nunc nunc a justo. Vestibulum eget vehicula metus. Nulla condimentum adipiscing ligula, in euismod purus facilisis quis. Nulla dictum cursus consectetur. Proin vitae imperdiet nibh.
<br><br>
Sed pretium leo nec leo feugiat eget fermentum justo porttitor. Suspendisse semper purus id mauris faucibus dictum. Pellentesque nibh nunc, fringilla vel congue in, mollis et elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vitae semper velit. Mauris augue lorem, mollis nec euismod at, lacinia quis tellus. Ut sagittis leo sit amet velit imperdiet vitae cursus nisi tempor.
<br><br>
Duis ac quam nisl. Nulla convallis varius felis non auctor. Cras gravida varius ipsum, a ultrices quam euismod vitae. Donec lacus ligula, dignissim sit amet tincidunt ultrices, pulvinar et neque. Nam eu mi eget diam tristique mollis. Morbi magna nibh, euismod nec ornare vitae, tempus in arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris arcu nulla, placerat sed faucibus quis, eleifend hendrerit risus.', 900, 1, CAST(0x0000A11500339E10 AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (4, N'Awesome Elevator', N'Sed vulputate congue condimentum. Praesent consequat vulputate auctor. Suspendisse at ante a orci elementum tincidunt. Suspendisse fringilla mi lorem. Ut blandit erat vitae felis lobortis dignissim. In sed iaculis leo. Vivamus fringilla purus a eros varius feugiat. Donec tincidunt mauris id orci tristique vitae tempor diam eleifend. Morbi cursus augue a risus placerat eget mollis orci luctus. Vestibulum eget nisl non augue elementum mollis. In hac habitasse platea dictumst. Donec eleifend porttitor metus, vitae commodo turpis bibendum non. Sed fringilla, nunc ut dapibus aliquam, odio magna suscipit velit, ac faucibus enim erat vitae enim. Praesent euismod interdum lacus et scelerisque.
<br><br>
Donec dignissim imperdiet felis at sollicitudin. Vivamus non massa ipsum. Nulla in purus non enim tincidunt venenatis eget at neque. Nam eget pretium urna. Pellentesque purus mauris, accumsan nec interdum sed, semper at velit. Curabitur quis nisi in ligula aliquam scelerisque at nec arcu. Nam pulvinar dapibus justo, ut fermentum tellus pellentesque et. Vivamus interdum aliquam molestie. In a lectus a tellus aliquam rutrum. Ut et justo in felis ultricies gravida at at sem. Vivamus aliquet varius turpis, sit amet fringilla nibh fringilla quis. Donec ut pulvinar odio.
<br><br>
Morbi nec enim dui. Sed at accumsan mi. Quisque at neque ac erat porta suscipit sit amet non massa. In hac habitasse platea dictumst. Donec dapibus iaculis enim, ut ullamcorper enim venenatis et. Nulla adipiscing arcu at nibh elementum posuere. Vivamus consequat, metus et dictum aliquet, purus orci tristique quam, quis semper odio tellus elementum ligula. Vivamus metus est, dignissim ac bibendum id, hendrerit sodales quam. Integer accumsan condimentum ligula eget malesuada. Duis lobortis aliquet molestie. Curabitur sapien ligula, ultrices vel pulvinar id, gravida ut quam. Duis velit sem, cursus quis fermentum et, imperdiet non nisi. Curabitur ac tellus enim, sit amet vestibulum diam.', 1200, 1, CAST(0x0000A1150033D074 AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (5, N'Elevator 007', N'Etiam risus augue, posuere aliquet accumsan ut, tristique eu libero. Vivamus varius magna quis metus mattis nec dictum nibh fermentum. Integer pulvinar, sem ut rhoncus interdum, nisl mauris semper ligula, varius aliquam felis nulla a neque. Nullam porta ipsum eleifend odio lobortis molestie. Donec interdum arcu vitae diam interdum vehicula. Morbi lobortis arcu at quam dapibus et commodo nisl suscipit. Nullam eu nibh metus, at iaculis turpis. Cras eget nisl at metus suscipit luctus sit amet eget magna. Sed pellentesque erat sollicitudin mi ullamcorper ut mollis turpis pharetra. Curabitur non libero nibh. Quisque id dapibus dolor. In hac habitasse platea dictumst. Suspendisse feugiat ligula sit amet eros hendrerit eget gravida tortor dictum.
<br><br>
Morbi faucibus magna quis elit imperdiet ullamcorper. Donec eleifend nisl a risus euismod porttitor. Nullam ullamcorper justo eu nisl consequat dignissim. Donec ipsum leo, mollis nec vehicula eu, rutrum quis nibh. Curabitur et erat massa. Curabitur venenatis ornare mauris, in tincidunt metus dignissim sit amet. Proin vestibulum rhoncus euismod. Aenean at dui hendrerit erat accumsan blandit. Nulla ut nulla quis purus accumsan suscipit luctus ac tellus. Ut vitae ullamcorper libero. Integer quis nisi ac augue aliquet dapibus sed quis sem.
<br><br>
In ut mollis lorem. Vivamus posuere egestas enim ac pulvinar. Mauris hendrerit lacus in libero mollis venenatis. Etiam porta odio a arcu volutpat consectetur sed eget sapien. Praesent faucibus tincidunt erat nec elementum. Phasellus id faucibus nulla. Mauris sapien est, eleifend quis viverra eget, eleifend ut nunc. Nunc feugiat nunc at tortor convallis consectetur. Cras eu pretium nunc. Sed auctor interdum dolor ut imperdiet.', 600, 1, CAST(0x0000A1150033FCFC AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (6, N'Passenger Elevator XNK 008', N'Quisque aliquam semper ligula, at condimentum arcu interdum cursus. Quisque iaculis ante vitae risus tempus placerat ac at est. Donec sit amet iaculis nibh. Sed eleifend pellentesque tristique. Aliquam erat volutpat. Quisque accumsan auctor quam, et sagittis nisl ultrices eget. Phasellus dapibus condimentum massa at luctus. Donec sed metus non risus interdum pulvinar. Morbi facilisis, dolor eu bibendum rhoncus, lacus ipsum lacinia justo, non pharetra augue elit ut dolor. Nullam condimentum ornare tempor. Sed nibh sem, tincidunt nec euismod vel, suscipit eget risus. Mauris et condimentum urna. Duis in mollis erat. Donec laoreet fermentum diam eu eleifend. In ac malesuada elit.
<br><br>
Vestibulum adipiscing adipiscing elementum. Morbi ornare nisl non leo venenatis mollis. Etiam sed sem in nisi venenatis viverra eu quis sapien. Nunc at tincidunt lectus. Integer eu nulla nisl. Fusce et ante non odio faucibus fermentum. Vestibulum sed velit elit, vel vehicula elit. Nullam malesuada justo sed mi suscipit iaculis. Aenean rhoncus suscipit ante non dapibus. Donec suscipit ante nec nisi mattis porttitor. Curabitur bibendum adipiscing adipiscing. Nunc tempus eros ultrices mauris fermentum in ultricies dui pharetra. Cras ornare volutpat leo a vestibulum.
<br><br>
Curabitur tempor sollicitudin tortor in iaculis. Nulla pulvinar augue sit amet augue varius lacinia. Duis varius dui ut felis ultricies porttitor. Integer urna mauris, feugiat vel iaculis in, aliquet accumsan erat. Ut in sagittis nisl. Quisque ut lectus vitae neque molestie egestas vel in nisi. Maecenas pulvinar eleifend tempor. Donec eu dolor felis. Quisque venenatis sem in leo aliquam sollicitudin. Aenean scelerisque, sapien lobortis sollicitudin bibendum, magna arcu porttitor risus, eu vulputate orci magna sed magna. In molestie velit vel quam semper dapibus ut sed purus. In aliquet fermentum condimentum. Cras eleifend condimentum elit, facilisis ullamcorper odio dignissim eu.', 1100, 1, CAST(0x0000A11500342600 AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (7, N'Machine Room Less Elevator', N'Vestibulum dui dui, scelerisque at ornare eu, lacinia vel nulla. Aliquam ut lorem nunc, non venenatis sem. In bibendum ipsum ut libero interdum vitae tincidunt ligula hendrerit. Nulla mollis bibendum pulvinar. Nullam magna nulla, tempus posuere adipiscing sit amet, suscipit a ipsum. Praesent molestie libero a lorem cursus sit amet suscipit ante tincidunt. Nam et eros vitae risus gravida vulputate ut id tellus. Aliquam imperdiet tincidunt mi, in malesuada risus viverra nec. Vestibulum in metus nec leo laoreet viverra. Pellentesque vel libero lacus, nec auctor sem. Donec tincidunt nibh in felis pellentesque vel pretium mi pharetra. Donec sollicitudin blandit ultrices. Quisque nec nibh tortor, non iaculis orci.
<br><br>
Suspendisse potenti. In posuere venenatis magna, quis venenatis turpis consequat laoreet. Mauris tempus ligula sed diam porttitor at tristique libero luctus. Nulla at sem nisl. In vestibulum laoreet ante eget elementum. Curabitur felis justo, elementum id tempor ac, pellentesque non leo. Cras in mollis turpis. Pellentesque ac enim neque, at ultricies augue.
<br><br>
Vivamus mattis dolor id felis dignissim et condimentum enim porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Etiam non enim vel enim lacinia rutrum. Nullam nec arcu dolor. Proin volutpat luctus mollis. Sed commodo interdum tellus ultricies congue. Nullam eleifend hendrerit quam, vel adipiscing turpis semper a.', 1400, 1, CAST(0x0000A11500345BE8 AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (8, N'Elevator Inside', N'Etiam pharetra leo in orci vestibulum eget aliquet magna euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce quis nulla velit. Etiam et sem et erat cursus vestibulum sed non lacus. Fusce dignissim, odio eu convallis iaculis, tortor orci placerat nulla, ut porta mi justo a sem. Mauris at mauris dui, sodales vulputate dui. Nunc pellentesque nisi non ante gravida et hendrerit enim rhoncus. Pellentesque sit amet tellus purus, vel mattis diam. Vestibulum elementum neque nec diam pretium scelerisque. Nulla commodo tristique elit eget facilisis. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
<br><br>
Quisque vel eros libero, eget vulputate nisl. Etiam auctor, justo sit amet consectetur suscipit, arcu turpis tincidunt diam, nec vulputate metus ipsum at felis. Sed dignissim neque id nibh posuere molestie sed a urna. Phasellus odio velit, congue sed feugiat non, egestas sodales dolor. In hac habitasse platea dictumst. Integer luctus, sapien ut laoreet suscipit, velit velit mattis eros, et viverra ligula urna eget ligula. Praesent non nunc mi, eget faucibus urna. Sed aliquet semper quam, nec sodales magna semper in. Aenean neque urna, suscipit sed pellentesque vitae, dignissim ac eros. Nulla consectetur laoreet lectus, vel placerat odio lacinia et. Sed non urna vel turpis dignissim pharetra. Cras pretium, tortor varius viverra accumsan, neque orci luctus erat, et blandit diam ipsum non risus.
<br><br>
Quisque fringilla ullamcorper tristique. Sed eu tincidunt quam. Morbi consectetur aliquet gravida. Vestibulum posuere, nisl sit amet semper ornare, elit magna congue erat, et iaculis arcu enim id purus. Ut semper imperdiet tempus. Cras ac convallis ante. Sed dictum, purus ut sagittis dignissim, ipsum mi rhoncus purus, sed convallis tortor dui at metus. Sed dolor augue, vehicula id sagittis ut, cursus vel ante. Aliquam porttitor justo eu massa consequat id scelerisque odio malesuada. Aenean ut eros nunc, eget auctor nisl. Curabitur elementum accumsan bibendum. In urna massa, laoreet ac scelerisque ac, auctor vitae nisi. Phasellus molestie leo et nulla accumsan condimentum. Fusce venenatis rhoncus ipsum, eleifend iaculis lectus blandit sit amet. Nunc in enim nunc, non eleifend augue.', 800, 1, CAST(0x0000A1150034899C AS DateTime))
INSERT [dbo].[product] ([id], [name], [description], [price], [status], [created]) VALUES (9, N'Holy Stair', N'Vestibulum bibendum, nibh vel tristique ornare, quam augue accumsan risus, quis auctor dolor nibh eu massa. Maecenas quis elit turpis, vitae mattis quam. Sed vitae odio nisi. Fusce laoreet euismod sem a faucibus. Aliquam erat volutpat. Duis aliquet neque eget lorem porta consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent neque ipsum, semper aliquam lacinia nec, rutrum eu nisi. Sed dignissim, libero quis aliquet ornare, orci lorem tempor lacus, eget volutpat arcu enim vel felis. Curabitur massa metus, placerat at pulvinar non, viverra at nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
<br><br>
Suspendisse feugiat pellentesque lacus vel gravida. Cras leo nisi, lobortis non rutrum sit amet, lobortis lacinia diam. Pellentesque cursus mi eu odio bibendum non hendrerit augue bibendum. Aliquam in metus mauris, sed iaculis velit. Ut id est vitae quam aliquam volutpat eu eu lorem. Suspendisse ultrices commodo lectus, et fermentum ligula aliquet a. Ut et fringilla justo. Etiam feugiat tempus nisi, quis vestibulum nunc imperdiet a. Nunc nunc dolor, vehicula at accumsan sit amet, faucibus sodales justo.
<br><br>
Nullam sit amet enim lacus. Suspendisse ultrices imperdiet purus sed fringilla. Maecenas placerat elementum nunc eu ornare. Nunc nec velit orci, vel pellentesque ante. Pellentesque pellentesque luctus tellus. Etiam posuere tincidunt libero vel fermentum. Vivamus neque nibh, vehicula sed facilisis in, tincidunt eu mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris bibendum turpis at nulla facilisis ut accumsan nulla sollicitudin. Ut in tortor nec urna euismod congue tristique non nulla. Nam elit ante, elementum in fermentum sed, tempor eget libero. Suspendisse vitae tellus sem, ut accumsan turpis. Suspendisse mauris turpis, consequat at malesuada vel, suscipit eu risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sollicitudin tempus semper. In vitae urna nunc, vel suscipit nulla.', 2000, 1, CAST(0x0000A1150034D370 AS DateTime))
SET IDENTITY_INSERT [dbo].[product] OFF
/****** Object:  Table [dbo].[payment]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[payment](
	[id] [int] IDENTITY(4,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_payment_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'payment', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.payment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment'
GO
SET IDENTITY_INSERT [dbo].[payment] ON
INSERT [dbo].[payment] ([id], [name], [status]) VALUES (1, N'Cash on Delivery', 1)
INSERT [dbo].[payment] ([id], [name], [status]) VALUES (2, N'Paypal', 1)
INSERT [dbo].[payment] ([id], [name], [status]) VALUES (3, N'Bank Transfer', 1)
SET IDENTITY_INSERT [dbo].[payment] OFF
/****** Object:  Table [dbo].[user]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(3,1) NOT NULL,
	[username] [nvarchar](63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[password] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[address] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[city] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[country_id] [int] NULL,
	[phone] [nvarchar](63) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[company] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[type] [int] NOT NULL,
	[status] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_user_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON),
 CONSTRAINT [user$email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON),
 CONSTRAINT [user$username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND name = N'country_id')
CREATE NONCLUSTERED INDEX [country_id] ON [dbo].[user] 
(
	[country_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'user', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.`user`' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user'
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [username], [email], [password], [name], [address], [city], [country_id], [phone], [company], [type], [status], [created]) VALUES (1, N'longpro', N'a@bc.com', N'202cb962ac59075b964b07152d234b70', N'Long', N'asd 1234', N'HN', 1, N'+10123456789', N'', 1, 1, CAST(0x0000A114000E97F0 AS DateTime))
INSERT [dbo].[user] ([id], [username], [email], [password], [name], [address], [city], [country_id], [phone], [company], [type], [status], [created]) VALUES (2, N'longprao', N'longprao@gmail.com', N'202cb962ac59075b964b07152d234b70', N'Graduation day', N'', N'', NULL, N'', N'', 0, 1, CAST(0x0000A11201886070 AS DateTime))
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[order]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(2,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[payment_id] [int] NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[city] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[country_id] [int] NULL,
	[phone] [nvarchar](63) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [int] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_order_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[order]') AND name = N'country_id')
CREATE NONCLUSTERED INDEX [country_id] ON [dbo].[order] 
(
	[country_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[order]') AND name = N'payment_id')
CREATE NONCLUSTERED INDEX [payment_id] ON [dbo].[order] 
(
	[payment_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[order]') AND name = N'user_id')
CREATE NONCLUSTERED INDEX [user_id] ON [dbo].[order] 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'order', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.`order`' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'order'
GO
SET IDENTITY_INSERT [dbo].[order] ON
INSERT [dbo].[order] ([id], [user_id], [payment_id], [name], [address], [city], [country_id], [phone], [status], [created]) VALUES (1, 1, 2, N'The Missing Corner', N'Cat Linh', N'HN', 1, N'0123456789', 0, CAST(0x0000A115003602F4 AS DateTime))
SET IDENTITY_INSERT [dbo].[order] OFF
/****** Object:  Table [dbo].[order_product]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_product]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[order_product](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [real] NOT NULL,
 CONSTRAINT [PK_order_product_order_id] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[order_product]') AND name = N'order_id')
CREATE NONCLUSTERED INDEX [order_id] ON [dbo].[order_product] 
(
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[order_product]') AND name = N'product_id')
CREATE NONCLUSTERED INDEX [product_id] ON [dbo].[order_product] 
(
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'order_product', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.order_product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'order_product'
GO
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity], [price]) VALUES (1, 4, 1, 1200)
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity], [price]) VALUES (1, 6, 3, 1100)
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity], [price]) VALUES (1, 9, 1, 2000)
/****** Object:  Table [dbo].[complaint]    Script Date: 11/26/2012 18:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[complaint]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[complaint](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_complaint_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[complaint]') AND name = N'order_id')
CREATE NONCLUSTERED INDEX [order_id] ON [dbo].[complaint] 
(
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[complaint]') AND name = N'user_id')
CREATE NONCLUSTERED INDEX [user_id] ON [dbo].[complaint] 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'complaint', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'elevation.complaint' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'complaint'
GO
/****** Object:  Default [DF__complaint__creat__7E6CC920]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__complaint__creat__7E6CC920]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__complaint__creat__7E6CC920]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[complaint] ADD  CONSTRAINT [DF__complaint__creat__7E6CC920]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  Default [DF__country__iso2__00551192]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__country__iso2__00551192]') AND parent_object_id = OBJECT_ID(N'[dbo].[country]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__country__iso2__00551192]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[country] ADD  CONSTRAINT [DF__country__iso2__00551192]  DEFAULT (NULL) FOR [iso2]
END


End
GO
/****** Object:  Default [DF__country__iso3__014935CB]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__country__iso3__014935CB]') AND parent_object_id = OBJECT_ID(N'[dbo].[country]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__country__iso3__014935CB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[country] ADD  CONSTRAINT [DF__country__iso3__014935CB]  DEFAULT (NULL) FOR [iso3]
END


End
GO
/****** Object:  Default [DF__feedback__rating__03317E3D]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__feedback__rating__03317E3D]') AND parent_object_id = OBJECT_ID(N'[dbo].[feedback]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__feedback__rating__03317E3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[feedback] ADD  CONSTRAINT [DF__feedback__rating__03317E3D]  DEFAULT ((10)) FOR [rating]
END


End
GO
/****** Object:  Default [DF__feedback__create__0425A276]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__feedback__create__0425A276]') AND parent_object_id = OBJECT_ID(N'[dbo].[feedback]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__feedback__create__0425A276]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[feedback] ADD  CONSTRAINT [DF__feedback__create__0425A276]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  Default [DF__order__name__060DEAE8]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__name__060DEAE8]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__name__060DEAE8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__name__060DEAE8]  DEFAULT (NULL) FOR [name]
END


End
GO
/****** Object:  Default [DF__order__address__07020F21]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__address__07020F21]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__address__07020F21]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__address__07020F21]  DEFAULT (NULL) FOR [address]
END


End
GO
/****** Object:  Default [DF__order__city__07F6335A]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__city__07F6335A]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__city__07F6335A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__city__07F6335A]  DEFAULT (NULL) FOR [city]
END


End
GO
/****** Object:  Default [DF__order__country_i__08EA5793]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__country_i__08EA5793]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__country_i__08EA5793]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__country_i__08EA5793]  DEFAULT (NULL) FOR [country_id]
END


End
GO
/****** Object:  Default [DF__order__phone__09DE7BCC]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__phone__09DE7BCC]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__phone__09DE7BCC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__phone__09DE7BCC]  DEFAULT (NULL) FOR [phone]
END


End
GO
/****** Object:  Default [DF__order__status__0AD2A005]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__status__0AD2A005]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__status__0AD2A005]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__status__0AD2A005]  DEFAULT ((0)) FOR [status]
END


End
GO
/****** Object:  Default [DF__order__created__0BC6C43E]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__order__created__0BC6C43E]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__order__created__0BC6C43E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__order__created__0BC6C43E]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  Default [DF__payment__status__0EA330E9]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__payment__status__0EA330E9]') AND parent_object_id = OBJECT_ID(N'[dbo].[payment]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__payment__status__0EA330E9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF__payment__status__0EA330E9]  DEFAULT ((1)) FOR [status]
END


End
GO
/****** Object:  Default [DF__product__price__108B795B]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__price__108B795B]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__price__108B795B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF__product__price__108B795B]  DEFAULT (NULL) FOR [price]
END


End
GO
/****** Object:  Default [DF__product__status__117F9D94]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__status__117F9D94]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__status__117F9D94]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF__product__status__117F9D94]  DEFAULT ((1)) FOR [status]
END


End
GO
/****** Object:  Default [DF__product__created__1273C1CD]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__product__created__1273C1CD]') AND parent_object_id = OBJECT_ID(N'[dbo].[product]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__product__created__1273C1CD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF__product__created__1273C1CD]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  Default [DF__project__status__145C0A3F]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__project__status__145C0A3F]') AND parent_object_id = OBJECT_ID(N'[dbo].[project]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__project__status__145C0A3F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[project] ADD  CONSTRAINT [DF__project__status__145C0A3F]  DEFAULT ((1)) FOR [status]
END


End
GO
/****** Object:  Default [DF__project__created__15502E78]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__project__created__15502E78]') AND parent_object_id = OBJECT_ID(N'[dbo].[project]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__project__created__15502E78]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[project] ADD  CONSTRAINT [DF__project__created__15502E78]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  Default [DF__user__address__173876EA]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__address__173876EA]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__address__173876EA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__address__173876EA]  DEFAULT (NULL) FOR [address]
END


End
GO
/****** Object:  Default [DF__user__city__182C9B23]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__city__182C9B23]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__city__182C9B23]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__city__182C9B23]  DEFAULT (NULL) FOR [city]
END


End
GO
/****** Object:  Default [DF__user__country_id__1920BF5C]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__country_id__1920BF5C]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__country_id__1920BF5C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__country_id__1920BF5C]  DEFAULT (NULL) FOR [country_id]
END


End
GO
/****** Object:  Default [DF__user__phone__1A14E395]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__phone__1A14E395]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__phone__1A14E395]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__phone__1A14E395]  DEFAULT (NULL) FOR [phone]
END


End
GO
/****** Object:  Default [DF__user__company__1B0907CE]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__company__1B0907CE]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__company__1B0907CE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__company__1B0907CE]  DEFAULT (NULL) FOR [company]
END


End
GO
/****** Object:  Default [DF__user__type__1BFD2C07]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__type__1BFD2C07]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__type__1BFD2C07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__type__1BFD2C07]  DEFAULT ((0)) FOR [type]
END


End
GO
/****** Object:  Default [DF__user__status__1CF15040]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__status__1CF15040]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__status__1CF15040]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__status__1CF15040]  DEFAULT ((1)) FOR [status]
END


End
GO
/****** Object:  Default [DF__user__created__1DE57479]    Script Date: 11/26/2012 18:08:55 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__user__created__1DE57479]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__created__1DE57479]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__created__1DE57479]  DEFAULT (getdate()) FOR [created]
END


End
GO
/****** Object:  ForeignKey [complaint$complaint_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint]  WITH NOCHECK ADD  CONSTRAINT [complaint$complaint_ibfk_1] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint] CHECK CONSTRAINT [complaint$complaint_ibfk_1]
GO
/****** Object:  ForeignKey [complaint$complaint_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint]  WITH NOCHECK ADD  CONSTRAINT [complaint$complaint_ibfk_2] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[complaint$complaint_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[complaint]'))
ALTER TABLE [dbo].[complaint] CHECK CONSTRAINT [complaint$complaint_ibfk_2]
GO
/****** Object:  ForeignKey [order$order_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order]  WITH NOCHECK ADD  CONSTRAINT [order$order_ibfk_1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order$order_ibfk_1]
GO
/****** Object:  ForeignKey [order$order_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order]  WITH NOCHECK ADD  CONSTRAINT [order$order_ibfk_2] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order$order_ibfk_2]
GO
/****** Object:  ForeignKey [order$order_ibfk_3]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_3]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order]  WITH NOCHECK ADD  CONSTRAINT [order$order_ibfk_3] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order$order_ibfk_3]') AND parent_object_id = OBJECT_ID(N'[dbo].[order]'))
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order$order_ibfk_3]
GO
/****** Object:  ForeignKey [order_product$order_product_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product]  WITH NOCHECK ADD  CONSTRAINT [order_product$order_product_ibfk_1] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [order_product$order_product_ibfk_1]
GO
/****** Object:  ForeignKey [order_product$order_product_ibfk_2]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product]  WITH NOCHECK ADD  CONSTRAINT [order_product$order_product_ibfk_2] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[order_product$order_product_ibfk_2]') AND parent_object_id = OBJECT_ID(N'[dbo].[order_product]'))
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [order_product$order_product_ibfk_2]
GO
/****** Object:  ForeignKey [user$user_ibfk_1]    Script Date: 11/26/2012 18:08:55 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user$user_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
ALTER TABLE [dbo].[user]  WITH NOCHECK ADD  CONSTRAINT [user$user_ibfk_1] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user$user_ibfk_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user]'))
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [user$user_ibfk_1]
GO
